.list
  {
    text-indent: 3px;
    background-color: lightgrey;
    text-align: left;
    width: 95px;
    transition: transform 1s;

  }
  .listChange
  {
    width: 150px;
    height: 100px;
    transition-property: width, height;
    transition-timing-function: ease-in-out;
    transform: skew(-20deg);
    transform:skewX(25deg);
    transform:skewY(10deg);
    transform:skew(25deg, 10deg);
  }

  .final
  {
    text-indent: 16px;
    background-color: lightblue;
    text-align: left;
    font-size: 20px;
    color: maroon;
    width: 938px;
  }
  .finalChange{
    position: relative;
    animation: moveDiv 4s infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes moveDiv
  {
    from {left: 0px;}
    to {left: 200px;}
  }